
.buttonmochilasv {
    background-color: #00154a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
.buttonmochilald{
  background-color: #00154a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

  .h1mochila {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .labelmochila {
    font-weight: bold;
    margin-left: 20px;
  }
  
  .inputmochila[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .buttonmochila {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .h4mochila {
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
  }
    
  .selectmochila {
    padding: 5px;
    margin-right: 10px;
  }
  
  .tablemochila {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .thmochila, .tdmochila {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .thmochila {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  

  td.green {
    background-color: green;
    color: white;
  }
  
  td.red {
    background-color: red;
    color: white;
  }
  
  .h2solucionfinal {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .psolucionfinal {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  