.h1Floyd {
    font-size: 34px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.h4Floyd {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.floydmainDiv {
    margin: 20px;
  }

  .floydform1 {
    margin-bottom: 20px;
  }
  
  .floydform1 label {
    font-weight: bold;
  }
  
  .floydform1 input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  

  .floydcalcularbtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  

  .floydtabladdiv {
    margin-top: 20px;
  }
  
  .h2tablaD {
    font-size: 20px;
    font-weight: bold;
  }
  
  .floydtablad {
    width: 100%;
    border-collapse: collapse;
  }
  
  .theadtablad th, .tbodytablad td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .theadtablad th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  

  .tdtablad.green {
    background-color: green;
    color: white;
  }
  
  .tdtablad.red {
    background-color: red;
    color: white;
  }

  .divtablap {
    margin-top: 20px;
  }
  
  .h2tablap {
    font-size: 20px;
    font-weight: bold;
  }
  
  .tablatablap {
    width: 100%;
    border-collapse: collapse;
  }
  
  .theadtablap th, .tbodytablap td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .theadtablap th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  

  .tdtablap.green {
    background-color: green;
    color: white;
  }
  
  .tdtablap.red {
    background-color: red;
    color: white;
  }
  


.divRutaOptima {
    margin: 20px;
  }

  .mainRutaOptima {
    display: flex;
    flex-direction: column;
  }

  .divcontenedorrutaoptima {
    margin: 20px;
  }
  
  .h2rutaoptima {
    font-size: 20px;
    font-weight: bold;
  }
  

  .formrutaoptima {
    margin-top: 10px;
  }
  

  .labelrutaoptima {
    font-weight: bold;
  }
  

  .inputrutaoptima {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
  }
  

  .btnrutaoptima {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  .h3rutaoptima {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }

  .prutaoptima {
    font-size: 16px;
    margin-top: 10px;
  }
  

