.right-bar-tree {
    width: 30%;
    height: 890px;
    background-color: #F5F6F8;
}

.left-side-tree {
    width: 70%;
    background-color: white;
}

table {
    background-color: #F5F6F8;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 100px;
    border-collapse: collapse;
}

tr {
    
    
    height: 40px;
}

.div-table {
    max-height: 600px;
    overflow-y: auto;
}
.table-header {
    position:sticky;
    top: 0;
    overflow-x: scroll;
    font-size: 18px;
    background-color: #F5F6F8;
}

.keys-title {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.keys-section {
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.keys-cantInput {
    width: 50px;
    margin-right: 30px;
    height: 20px;
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    
}



.tr-body {
    border: 0.3px solid rgba(128, 128, 128, 0.144);
}

.load-archive-button, .generateRows-button, .save-program-button {
    background-color: #436063;
    border:0;
    height: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}