.right-bar-sports {
    margin-top: 20px;
    width: 20%;
    height: 890px;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: column;
}

.left-side-sports {
    width: 80%;
    background-color: white;
}
.calcular-button {
    margin-top: 30px;
}